.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 0px;
}
.list-container > .list-item-reveal:first-child .list-item-container {
  border-top: 1px solid rgb(180, 180, 180);
}

.list-container-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.list-container-subtitle {
  font-size: 110px;
  font-weight: 700;
  color: white;
  max-width: 90%;
  margin: 20px auto;
}

.list-item-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.75s ease,
    transform 0.75s cubic-bezier(0.22, 1, 0.36, 1);
}

.list-item-reveal.list-item-visible {
  opacity: 1;
  transform: translateY(0);
}
